<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzer | take a quizz from anywhere in the world</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.0.20/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;1,100;1,300;1,500;1,800&display=swap" rel="stylesheet">
    {% load django_browser_reload %}
</head>

<style>
  *{
    font-family: 'Montserrat', sans-serif;
  }
</style>
<body>
    {% include 'listings/components/header.html' %}
    <div class="content w-full min-h-[90vh] py-16">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'listings/components/footer.html' %}
</body>
<script>
  {% django_browser_reload_script %}
</script>
</html>