{% extends 'listings/base.html' %}
{% load static %}

{% block css %}
<style>
    @keyframes slideInFromLeft {
        0% { transform: translateX(-100%); }
        50% { transform: translateX(0); }
        100% { transform: scale(1.05); }
    }

    .image{
        background-image: url({{quiz.image.url}});
    }
    
    @keyframes fade {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    
    .question-card {
        animation: slideInFromLeft 1s ease-out forwards, fade 2s ease-in forwards;
    }
    
    .answer-item {
        transition: background-color 0.3s ease;
    }
    
    .answer-item:hover, .answer-item:focus, .answer-item:active {
        background-color: #f3f3f3;
    }
    
    .group {
        transition: transform 0.3s ease;
    }
    
    .selected .answer-item {
        background-color: #4CAF50;
        color: #ffffff;
    }
</style>
{% endblock css %}

{% block content %}
<div class="relative overflow-hidden">
    <div class="absolute inset-0 bg-center bg-cover overflow-y-hidden filter blur-sm image"></div>
    <div class="relative bg-opacity-50 bg-gray-900 h-[50vh] flex items-center justify-center flex-col">
      <ul class="steps flex justify-center mb-4">
        {% for question in questions %}
            <li class="step cursor-pointer{% if forloop.counter0 <= current_question_index %} step-info{% endif %}"></li>
        {% endfor %}

      </ul>
      <div class="my-4 mx-24 text-center flex items-center justify-center flex-col gap-16">
        <h3 class="leading-6 text-4xl font-bold text-white">{{ quiz.name }}</h3>
        <p class="font-normal text-white font-semibold">{{ quiz.description }}</p>
      </div>
    </div>
  </div>
  

  <div class="flex items-center justify-start flex-col overflow-hidden py-12 px-12">
    <form id="quiz-form" method="POST" action="{% url 'single-quiz' quiz.id current_question.id %}">
        {% csrf_token %}
        <div class="question-card flex flex-col gap-4">
            <h3 class="text-white text-md font-medium text-center">{{ current_question.text }}</h3>
            <input type="hidden" name="answer" value="" hidden/>
            {% if current_question.question_type == 'TF' %}
                <div class="mt-1 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 mx-12">
                    {% for answer in current_question.answers.all %}
                    <div class="group relative bg-white shadow-lg rounded-lg cursor-pointer transform transition-transform duration-500 ease-in-out p-4 hover:bg-blue-400 hover:text-white focus:bg-blue-600 focus:text-white answer" onclick="handleAnswerClick(this)" data-value="{{answer.pk}}">
                        <div class="relative z-10 bg-gradient-to-rleading-tight text-xs px-4 py-2 rounded-lg" data-id="{{answer.id}}">{{answer.text}}</div>
                    </div>
                    {% endfor %}
                </div>
            {%  else %}
                <div class="mt-1 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mx-12">
                    {% for answer in current_question.answers.all %}
                        <div class="group relative bg-white shadow-lg rounded-lg cursor-pointer transform transition-transform duration-500 ease-in-out p-4 hover:bg-blue-400 hover:text-white focus:bg-blue-600 focus:text-white answer" onclick="handleAnswerClick(this)" data-value="{{answer.pk}}">
                            <div class="relative z-10 bg-gradient-to-rleading-tight text-xs px-4 py-2 rounded-lg" data-id="{{answer.id}}">{{answer.text}}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="flex justify-center mt-24 gap-4">
            <button type="button" class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded-l" onclick="previousQuestion()">Previous</button>
            <button type="button" class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded-r" onclick="nextQuestion()">Next</button>
            <button type="button" class="bg-transparednt border-0 text-white font-semibold py-2 px-4" onclick="skipQuestion()">Skip</button>
        </div>
    </form>
</div>

{% endblock %}

{% block script %}
<script>
    // Handle answer click
    function handleAnswerClick(element) {
        console.log(element)
        // Find all answer elements
        const answerElements = document.querySelectorAll('.answer');
    
        // Remove focus classes from all answers
        answerElements.forEach(answer => {
          answer.classList.remove('bg-blue-400', 'text-white');
        });
    
        // Add focus classes to clicked element
        element.classList.add('bg-blue-400', 'text-white');
    
        // Set the value of the hidden input to the id of the clicked answer
        document.querySelector('input[name="answer"]').value = element.getAttribute('data-value');
    
        // Log the value of the input
        console.log(document.querySelector('input[name="answer"]').value);
    }
    
    // Handle next question
    function nextQuestion() {
        // Log the value of the input
        console.log(document.querySelector('input[name="answer"]').value);
    
        // Submit the form
        document.getElementById('quiz-form').submit();
    }
    
    // Handle skip question
    function skipQuestion() {
        // Set the value of the hidden input to a random negative number
        document.querySelector('input[name="answer"]').value = Math.floor(Math.random() * -100);
    
        // Log the value of the input
        console.log(document.querySelector('input[name="answer"]').value);
    }
</script>
    
{% endblock %}
